@{
    ViewData["Title"] = "Atividades";
}

<form asp-action="CadastrarAtividade" method="post">
    <input type="hidden" name="turmaId" value="@ViewBag.TurmaId" />
    <div class="mt-4 mb-4">

        <input class="rounded " type="text" name="descricao" placeholder="Nome" required />
        <button  class="rounded btn btn-outline-primary"type="submit">Cadastrar Atividade</button>
    </div>
</form>

<h4>Turma: @ViewBag.NomeTurma</h4>

<table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var atividade in Model)
        {
            <tr>
                <td>@atividade.AtividadeId</td>
                <td>@atividade.Descricao</td>
            </tr>
        }
    </tbody>
</table>