.background{
  background-color: #8758FF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.box-background{
  width: 750px;
  height: 500px;
  background-color: #1E123B;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-purple{
  color: #8758FF;
}