
.box-modal {
    width: 915px;
    border-radius: 8px;
    background-color: #1E123B;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.box-text {
    width: 750px;
    height: 300px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: #FCFCFC;
    font-family: OpenSans-Bold;
    padding: 20px;
    resize: none;
}

.blur {
    position: absolute;
    bottom: 1px;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
}